/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Header */
#header {
    background-color: #007BFF;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

/* Navegação no header */
.nav-links a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff; /* letras brancas no header */
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #d0e7ff; /* azul mais claro ao passar o mouse */
}

/* Sobre Mim */
.sobre-mim {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.sobre-mim h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #007BFF;
}

.sobre-mim p {
    font-size: 1rem;
    line-height: 1.8;
}

/* Sobre lista */
.lista {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.lista h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #007BFF;
}
.lista p {
    font-size: 1rem;
    line-height: 1.8;
}
